.radio-btn {
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 10px !important;
  cursor: pointer;
  font-size: 14px;
  color: #141737;
  background-color: #f5f6fa;
  border: 1px solid rgba(20, 23, 55, 0.1) !important;
}

input[type="radio"] {
  display: none;
}

.radio-btn label {
}

input[type="radio"]:checked + label {
  background-color: #dceaff;
  border: 1px solid #006aff !important;
}

.radio-btns {
  margin-top: 15px;
  display: flex;
}

.radio-btns div {
  margin-right: 15px;
}
